html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    height: 100%; /* O corpo ocupa toda a altura da janela */
    margin: 0; /* Remove margens padrão */
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Faz o container expandir para preencher o espaço restante */
}

footer {
    flex-shrink: 0; /* Garante que o footer permaneça no final da página */
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.table th, .table td {
    vertical-align: middle;
}